/***** GENERAL STYLES *****/
input[type=submit], .register button {
    cursor: pointer;
    background: #37b7cb;
    border: none !important;
    color: #222;
    font-weight: 700;
    font-size: 17px;
    text-transform: capitalize;
    margin-top: 25px;
}

input.invalid:focus{
    outline: #dc3545;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="password"]:focus,
input[type="text"]:active{
    outline: blue !important;
    border-color: mediumseagreen !important;
    border-width: 2px;
}

.input-wrapper{
    position: relative
}

.input-wrapper small{
    position: relative;
    display: block;
    bottom: 10px;
    font-weight: bold;
    margin-bottom: 8px;
    
}

canvas{
    height: 100% !important;
}

.modal-header .close{
    margin-right: 5px;
}

.modal{
    z-index: 200 !important;
}

.modal-backdrop.show{
    z-index: 100 !important;
}

/*.modal-dialog{*/
    /*display: flex;*/
    /**/
/*}*/



/***** WEBSITE HEADER ******/
.Nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 20px;
    width: 100%;
    margin: 0px auto 60px;
    /*border-bottom: 2px solid #eee;*/
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    box-shadow: 0px 1px 3px rgba(198, 198, 198, 0.6);

}

.logo{
    text-decoration: none ;
    font-size: 32px;
    font-family: Roboto, sans-serif;
    color: #b6b6b6;
    font-weight: bold;
}

.logo span{
    color: #2a8d9c;
}

.logo:hover{
    color: #b6b6b6;
    text-decoration: none;
}





/**** SIDEBAR *****/
.sidebar-normal, .sidebar-responsive{
    z-index: 1;
    position: fixed;
    height: 100%;
    width: 18%;
    background: #5b6577;
    top: 0;
    left: 0;
}

.sidebar{
    height: 100%;
}

.sidebar-responsive{
    z-index: 200;
    width: 65%;
    max-width: 260px;
    transform: translateX(-100%);
    transition: transform 0.25s ease-out;
}

.sidebar-responsive.show{
    transform: translateX(0);
}

.sidebar a{
    padding: 10px 15px;
    display: block;
    text-decoration: none;
    color: #eff3f6;
}

.sidebar a.active{
    background: #495261;

}

.sidebar a span{
    margin-right: 12px;
}

.sidebar header h2{
    font-family: 'Roboto Slab', sans-serif;
    width: 100%;
    font-size: 28px;
    /*text-transform: uppercase;*/
    color: #fff;
}

.sidebar header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
    min-height: 60px;
    background: #37b7cb;
}

.sidebar ul{
    padding-left: 0px;
}

.backdrop{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    z-index: 100;
    top: 0;
    left: 0;
    display: none;
}

.show{
    display: block;
}



/***** DASHBOARD *****/
.dashboard{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
}

.dashboard_body header{
    position: fixed;
    width: 100%;
    padding: 0px 20px;
    z-index: 5;
    top: 0;
    display: flex;
    background: #fff;
    box-shadow: 0px 1px 3px rgba(198, 198, 198, 0.6);
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
}

.dashboard_body header p{
    margin-bottom: 0;
    width: 40%;
}

.dashboard header h1{
    width: 30%;
    font-family: Roboto, sans-serif;
    font-size: 32px !important;
    color: #2a8d9c;
    font-weight: bold !important;
    position: relative;
    top: -5px;
    margin-bottom: 0;
}

.dash_header{
    color: #b6b6b6;
    font-size: 32px !important;
    text-transform: capitalize !important;
    font-weight: bold !important;
}

.dashboard_body{
    z-index: 1;
    width: 82%;
    height: 100%;
    left: 18%;
    position: relative;
    background: transparent;
    color: #333;
}

.graph-box{
    height: 530px;
    overflow: scroll;
}

.graph-box .big-box-body{
    height: 100%;
}

.menu-button{
    background: transparent;
    border: none;
    width: 30px;
    height: 24px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0;
    margin: 0;

}

.toggle-button{
    display: none;
}

.menu-button:focus{
    outline: none;
}

.menu-button-line{
    width: 30px;
    background: #555;
    height: 2px;
}

/*.header-wrapper p{*/
    /*padding-right: 20px;*/
    /*font-size: 18px;*/
    /*width: 48%;*/
    /*position: relative;*/
    /*top: 12px;*/
/*}*/



.dashboard_body span{
    font-weight: 600;
    text-transform: uppercase;
    font-size: 20px;

}

.dashindex{
    margin: 100px auto 0px;
    display: flex;
    flex-direction: column;
    width: 97%;
}

.dashindex .table{
    margin-top: 25px;
}

.table{
    max-height: 200px;
}

.box{
    background: #fff;
    box-shadow: 0 1px 15px 1px rgba(69,65,78,.08);
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    border-radius: 5px;
    max-height: 142px;
}


.box-icon{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-icon i{
    font-size: 50px;
}

.box-body{
    width: 65%;
    display: inline-block;
    padding: 20px 10px;
}

.counter{
    font-size: 2.5rem !important;
}

.number-title{
    font-size: 1.1rem;
}

.big-box{
    margin: 15px 0px;
    box-shadow: 0 1px 15px 1px rgba(69,65,78,.08);
    border-radius: 5px;
    background: #fff;
}

.big-box-header{
    padding: 20px;
    display: flex;
    align-items: center
}

.big-box-header h3{
    margin-bottom: 0px !important;
}

.logout{
    width: 80%;
    margin: 20px;
}

.logout div{
    margin-top: 30px;
}

.logout button{
    padding: 10px 5px;
    width: 43%;
    border: none;
    background-color: tomato;
    cursor: pointer;
    font-weight: bold;
    color: #fff;
    display: inline-block;
}

.logout button:first-child{
    margin-right: 20px;
    background: #28a745;

}

.radio-options {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    text-transform: capitalize;
}

.radio-options input{
    display: inline-block;
    width: 8%;
    margin-bottom: 0;
}

.radio-options label{
    font-weight: normal;
}

.leader-subheading{
    margin-left: 20px;
    margin-top: 10px;
}

.leader-submit{
    background: #28a745;
    border: none;
    width: 100px;
    margin-left: 80px;
    margin-top: 40px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}

.table td{
    text-transform: capitalize;
}




/******* STUDENT REGISTRATION AND LOGIN ******/
.register{
    width: 50%;
    max-width: 803px;
    background: #fff;
    border: 1px solid #d2dfd8;
    margin: 100px auto 70px;
    /*box-shadow: 2px 2px 5px rgba(198, 198, 198, 0.6);*/
    box-shadow: 0 1px 15px 1px rgba(69,65,78,.08);
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

.form-header{
    padding: 10px 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #d2dfd8;
    background: #d8d8d8;
}

.register h1{
    font-size: 27px;
    text-transform: capitalize;
}

.register p{
    padding: 20px 25px;
}

.register form{
    width: 100%;
    padding: 20px;
}

label{
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input, button{
    display: block;
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 5px;
    width: 100%;
}

input{
    border: 1px solid #ccc;
}

/*.login-dropdown{*/
    /*display: flex;*/
    /*justify-content: space-between;*/
/*}*/

/*.login-dropdown label{*/
    /*display: inline-block;*/
    /*width: 35%;*/
/*}*/

.login button, .login i{
    font-weight: bold;
}




/******* MISCELLENEOUS ********/
.divider-line{
    /*margin: 10px 0px;*/
    /*padding: 0px;*/
    /*border: 0;*/
    /*height: 1px;*/
    /*background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));*/
    /*position: relative;*/
    text-align: center;
    position: relative;
    z-index: 1;
}

.divider-line:before{
    border-top: 2px solid #dfdfdf;
    content:"";
    margin: 0 auto;
    position: absolute;
    top: 50%; left: 0; right: 0; bottom: 0;
    width: 95%;
    z-index: -1;
}

.divider-line span{
    /*position: absolute;*/
    /*display: block;*/
    /*width: 20%;*/
    /*margin: 0px auto;*/
    /*top: -10px;*/
    /*left: 43%;*/
    /*text-align: center;*/
    /*background: #fff;*/
    /*z-index: 3;*/
    background: #fff;
    padding: 0 15px;
}

.custom-select{
    margin-bottom: 15px !important;
}


.invalid{
    border: 1px solid #dc3545 !important;
    background: rgba(255,99,70,0.4);
}

input.invalid:focus, input.invalid:active{
    border: 1px solid #dc3545 !important;
    box-shadow: 0 0  2px #dc3545 !important;

}

input[type="submit"]:disabled, button:disabled{
    background: #ccc;
    cursor: not-allowed;
    opacity: 0.8;
}

.theLabel{
    width: 50%;
    margin: 100px auto 0px;
    position: relative;
    z-index: -1 !important;
    display: flex;
    align-items: center;
}

.theLabel div{
    display: flex;
    justify-content: space-between;
}

.theLabel p, theLabel button{
    display: flex;
    align-items: center;
    margin-bottom: 0px !important;
}

.registerMsg{
    margin-top: 30px !important;
}

.today{
    background-color: mediumseagreen;
}

.today th, .today td{
    color: #fff;
    font-weight: bold;
}

.today .btn-success{
    background: #fff;
    color: mediumseagreen;
    font-weight: bold;
}

.box-icon i{
    color: #fff;
}

#student_search,
#school_logout,
#church_logout,
.delete-account
{
    width: 50%;
    margin: 0px auto !important;
}

.lds-css.theLabel{
    margin-top: 75px;
}


/****** SPINNER CSS ******/
@keyframes lds-rolling {
    0% {
        -webkit-transform: translate(-50%, -50%) rotate(0deg);
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        -webkit-transform: translate(-50%, -50%) rotate(360deg);
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
@-webkit-keyframes lds-rolling {
    0% {
        -webkit-transform: translate(-50%, -50%) rotate(0deg);
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        -webkit-transform: translate(-50%, -50%) rotate(360deg);
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
.lds-rolling {
    position: relative;
}
.lds-rolling div,
.lds-rolling div:after {
    position: absolute;
    width: 160px;
    height: 160px;
    border: 17px solid #4246ff;
    border-top-color: transparent;
    border-radius: 50%;
}
.lds-rolling div {
    -webkit-animation: lds-rolling 1s linear infinite;
    animation: lds-rolling 1s linear infinite;
    top: 100px;
    left: 100px;
}
.lds-rolling div:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
.lds-rolling {
    width: 76px !important;
    height: 76px !important;
    -webkit-transform: translate(-38px, -38px) scale(0.38) translate(38px, 38px);
    transform: translate(-38px, -38px) scale(0.38) translate(38px, 38px);
}





/*
*   MEDIA QUERIES
 */

/*  Student Registration form*/
@media (max-width: 1000px) {
    #student_register,
    #school_admin_register,
    #church_admin_register,
    #login,
    #add_bus_stats,
    #student_search,
    #school_logout,
    #church_logout,
    .delete-account{
        width: 87%;
        font-size: 1.2rem;
        margin-bottom: 30px;
        margin-top: 77px;
        line-height: 1.5;
    }

    .input-wrapper{
        margin-bottom: 30px;
    }

    .login-dropdown{
        margin-bottom: 15px;
    }

    .alert-success, .alert-danger, .theLabel{
        width: 90%;
    }

    .btn-success{
        width: 100% !important;
    }
}

@media (max-width: 420px){
    #school_admin_register h1,
    #church_admin_register h1{
        font-size: 21px;
        line-height: 1.6;
    }

    .big-box h3{
        text-align: center;
        font-size: 1.45rem;
    }
}

@media (max-width: 350px){
    .Nav{
        display: block;
        text-align: center;
    }
    
    .logo{
        font-size: 1.6rem;
        text-align: center;
    }

    .register h1{
        font-size: 25px;
    }

    #school_admin_register h1 {
        font-size: 20px;
    }

    #church_admin_register h1{
        font-size: 19px;
    }
}


/* School Dashboard*/
@media (max-width: 1100px){

    .big-box{
        border-radius: 0;
    }
    
    .toggle-button{
        display: block;
    }  
    
    .sidebar-normal{
        display: none;
    }

    .dashboard{
        display: block
    }

    .dashboard_body{
        left: 0;
        width: 100%;
    }
    

    .dashboard_body header h1{
        width: 90%;
        top: 0;
    }
    
    .dashboard_body header button{
        margin-right: 20px;
    }

    .radio-options{
        margin-left: 17px;
    }
}

@media (max-width: 1000px){
    html{
        font-size: 14px;
    }

    .register h1{
        font-size: 24px;
    }

    .logo{
        font-size: 26px;
    }

    .number-title{
        font-size: 1.25rem;
    }

    .graph-box{
        height: 430px;
    }
}

@media (max-width: 450px){
    .lds-rolling div,
    .lds-rolling div:after{
        width: 120px;
        height: 120px;
        border-width: 15px;
    }
}



@media (max-width: 400px){
    .dashboard_body header h1,
    .dashboard_body header span{
        font-size: 24px !important;
        line-height: 1.6;
    }

    #student_search h3{
        font-size: 1.4rem;
        line-height: 1.6;
    }

}

@media (max-width: 350px){
    #birthday_box{
        max-height: 400px;
        overflow-y: scroll;
        border-radius: 0px;
    }
}